---
    title: About
---

<div class="two-columns gap-mid">
    <img src="{{ "assets/images/anton_smile.jpg" | relative_url }}" width="300px" class="border-black shadowed about-image">

    <div class="bg-color-orange shadowed border-black">
        <p>
            I really like music, sound, games, computers and programming. What I really enjoy is  is creating dynamic sounds and music with FUN as the guiding star. Dependable and communicative, I bring creativity and playfulness to a project.
        </p>
        <br>
        <p>
            For me, gaming is about fun, creativity, and exploration. Sound is crucial in shaping a game’s narrative and atmosphere, adding depth to the experience. I'd like to call my approach to making music both minimalistic and ambitious. 
        </p>
    </div>
</div>

<div class="margin-top two-columns gap-mid">
    {% include skills.html %}
    {% include hobbies.html %}
</div>

