<dialog id="contactDialog" class="dialog" data-modal-backdrop closedby="any">
  <div class="form contactFormContainer">
    <button type="button" class="closeForm" onclick="closeContactModal()">
      &times;
    </button>
    <h2>Contact Me</h2>
    <form
      id="contactForm"
      action="https://formspree.io/f/meoydvrn"
      method="POST"
    >
      <label for="email">Email</label>
      <input type="email" name="email" placeholder="email@example.com" />
      <label for="message">Message</label>
      <textarea name="message" placeholder="...I love your music!"></textarea>
      <button
        class="g-recaptcha centered medium-button shadowed bg-color-orange border-black"
        data-sitekey="6LewsywsAAAAANezGamLU5jRe2svJDEq5XDV93lw"
        data-callback="onSubmit"
        data-action="submit"
        class="centered medium-button shadowed bg-color-orange submitButton"
      >
        Send
      </button>
    </form>
  </div>
</dialog>
