<div class="form border-black shadowed-large">
    <h2>Contact Me</h2>
    <form action="https://formspree.io/f/meoydvrn" method="POST">
        <label for="email">Email</label>
        <input type="email" name="email" placeholder="email@example.com" />
        <label for="message">Message</label>
        <textarea name="message" placeholder="...I love your music!"></textarea>
        <div
            class="g-recaptcha"
            data-sitekey="6Lc1vCssAAAAAB5q3GJ1vM4hOmcrDVXbSCEVWnTs"
        ></div>
        <button
            type="submit"
            class="centered medium-button shadowed bg-color-orange border-black"
        >
            Send
        </button>
    </form>
</div>
