<div class="two-columns margin-top">
{% for quote in site.data.quotes %}
    <div class="quotebox border-black shadowed-large">
        <q class="text-strong">
            {{ quote.quote }}
        </q>
        <p class="text-secondary vertical-center">
            {{ quote.name }}
        </p>
        <a class="centered medium-button shadowed bg-color-orange border-black" href="{{ quote.url }}" rel="nofollow" target="_blank">
            {% comment %} <button class="medium-button shadowed bg-color-orange border-black"> {% endcomment %}
                {{ quote.button_text }}
            {% comment %} </button> {% endcomment %}
        </a>
    </div>
{% endfor %}
</div>