<div class="hidden" id="{{ include.name }}">
    <h3>{{ include.name | upcase }}</h3>

    {% for playlist in include.content %}
        {% comment %} add playlist image, description..  {% endcomment %}
        {% for sound in playlist.sounds %}
            <iframe style="border: 0; width: 400px; height: 42px;" src="{{ sound.embed_url }}" seamless>
            {% comment %} <a href="https://audioanton.bandcamp.com/track/sayonara">Sayonara by audio anton</a> {% endcomment %}
            </iframe>
        {% endfor %}
    {% endfor %}

</div>