@import "main";

.post-div {
    display: grid;
    grid-template-columns: auto;
    gap: 3rem;
}

@media screen and (min-width: 992px) {
    .post-div {
        grid-template-columns: auto auto auto;
    }
}

.card-post {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 220px;
    padding: 0.5rem;
}

.card-post p {
    min-height: 75px;
}

.card-post h3 {
    height: 4.5rem;
    text-align: -webkit-center;
    background-color: var(--main-green);
    border-radius: 2px;
}

.card-post a {
    margin-top: auto;
    margin-bottom: 0.1rem;
    margin-left: 0;
    text-align: center;
}