div.contactFormContainer {
  position: relative;
  background-color: var(--main-green);
  height: 100%;
  width: 100%;
  padding: 10px;
  color: var(--main-text);
}

button.contactButton {
  font-size: 1rem;
  border: none;
  font-weight: bolder;
  background-color: var(--main-orange);
  color: var(--main-text);
  padding: 10px;
}

form > button.medium-button:hover {
  background-color: black;
  color: var(--main-orange);
}

button.contactButton:hover {
  background-color: black;
  color: var(--main-orange);
}

.dialog {
  position: fixed;
  margin: 0 auto;
  top: 25%;
  width: 90%;
  max-width: 500px;
  padding: 0;
}

@media (min-width: 800px) {
  button.contactButton {
    margin: 0 25px;
  }

  dialog {
    width: 50vw;
  }
}

.closeForm {
  cursor: pointer;
  font-size: 2rem;
  font-weight: bolder;
  background: none;
  border: none;
  padding: 0;
}

.form form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form form > button {
  color: var(--main-text);
  max-width: 25%;
  align-content: center;
  align-self: flex-end;
}

.form form > textarea {
  min-height: 100px;
}

.form input,
.form textarea {
  font-size: 16px;
}

dialog[data-modal-backdrop]::backdrop {
  background: hwb(0 0% 100% / 0.8);
}
