.dialog {
  position: fixed;
  padding: 0;
  border: none;
  width: 90%;
  max-width: 500px;
  height: auto; 
  max-height: 90vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

div.contactFormContainer {
  position: relative;
  background-color: var(--main-green);
  height: 100%; 
  width: 100%;
  padding: 20px;
  color: var(--main-text);
  box-sizing: border-box;
}

button.contactButton {
  font-size: 1rem;
  border: none;
  font-weight: bolder;
  background-color: var(--main-orange);
  color: var(--main-text);
  padding: 10px;
}

form > button.medium-button:hover {
  background-color: black;
  color: var(--main-orange);
}

button.contactButton:hover {
  background-color: black;
  color: var(--main-orange);
}

.desktop-nav {
  display: none;
}

.mobile-nav {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: end;
}

.mobile-nav-button {
  font-size: x-large;
  margin-right: 0;
}

.mobile-links {
  transition: all 0.3s ease-in-out;
  padding: 5px;
  display: flex;
  overflow-y: hidden;
  max-height: 500px;
  flex-direction: column;
  opacity: 1;
}

.mobile-links-hidden {
  opacity: 0;
  max-height: 0;
  padding: 0;
  pointer-events: none;
}

@media (min-width: 800px) {
  button.contactButton {
    margin: 0 25px;
  }

  dialog {
    width: 50vw;
  }

  .mobile-nav {
    display: none;
  }

  .desktop-nav {
    display: block;
  }
}

.closeForm {
  cursor: pointer;
  color: var(--main-text);
  font-size: 2rem;
  font-weight: bolder;
  background: none;
  border: none;
  padding: 0;
}

.form form {
  display: flex;
  flex-direction: column;
  min-height: fit-content;
  gap: 10px;
}

.form form > button {
  color: var(--main-text);
  max-width: 25%;
  align-content: center;
  align-self: flex-end;
}

.form form > textarea {
  min-height: 100px;
}

.form input,
.form textarea {
  font-size: 16px;
}

dialog[data-modal-backdrop]::backdrop {
  background: hwb(0 0% 100% / 0.8);
}

