// @import "main";
@use "main";

.tabs {
    overflow: hidden;
    background-color: var(--main-orange);
    border: solid black 2px;
    box-shadow: 0.5rem 0.5rem var(--shadow-gray);
}

.tab-div {
    display: flex;
    background-color: var(--logo-orange);
    border-bottom: solid black 2px;
}

.tabs button {
    background-color: inherit;
    border: none;
    border-right: solid black 2px;
    padding: 0.5rem 0.5rem 1.5rem 0.5rem;
}

.tabs button:hover {
    background-color: var(--shadow-gray);
}

.tabs button.active {
    background-color: var(--main-orange);
}

.tabcontent {
    display: block;
    padding: 1rem;
}

.hidden {
    display: none;
}


