// @import "main";
// @use "main";

.tab {
    overflow: hidden;
    background-color: var(--main-orange);
}

.tab button {
    background-color: inherit;
    float: left;
}

.tab button:hover {
    background-color: var(--shadow-gray);
}

.tab button.active {
    background-color: var(--logo-orange);
}

.tabcontent {
    display: none;
}