<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
            defer
        />
        <link
            rel="stylesheet"
            href="{{ '/assets/css/main.css' | relative_url }}"
        />
        <link
            rel="stylesheet"
            href="{{ '/assets/css/fonts.css' | relative_url }}"
        />
        <link
            rel="stylesheet"
            href="{{ '/assets/css/tabs.css' | relative_url }}"
        />
        <link
            rel="stylesheet"
            href="{{ '/assets/css/blog.css' | relative_url }}"
        />
        <link
            rel="stylesheet"
            href="{{ '/assets/css/contact.css' | relative_url }}"
        />
        <link
            rel="icon"
            type="image/x-icon"
            href="/site/assets/images/favicon.ico"
        />
        <script
            src="https://www.google.com/recaptcha/enterprise.js?render=6LewsywsAAAAANezGamLU5jRe2svJDEq5XDV93lw"
            async
            defer
        ></script>
        <script src="{{ "/assets/scripts/contact.js" | relative_url }}" defer></script>

        {% feed_meta %} {% seo %}
    </head>
    <body>
        {% include header.html %}
        <main>
            <div class="centered">
                <h1>{{ page.title }}</h1>
                {{ content }}
            </div>
        </main>
        {% include contact.html %} {% include footer.html %}
    </body>
</html>
