<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    {% comment %} <link rel="stylesheet" href="{{ '/assets/css/simple.css' | relative_url }}"> {% endcomment %}
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/fonts.css' | relative_url }}">
    {% feed_meta %}
    {% seo %}
</head>
<body>
    {% include header.html %}
    <main>
        <h1>{{ page.title }}</h1>
        <div class="centered">
            {{ content }}
        </div>
    </main>
    {% include footer.html %}
</body>
</html>